@import "../main/styles.scss";

@mixin burgerSpan {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000000;
}
body {
	max-width: 1200px;
	width: 100%;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background: $colorLightXL;
	padding: 30px 40px;

	li {
	@include navLink;
	color: $colorDarkL;
	}

}

.logotype {
	font-family: $mainFontSerif;
	font-size: 32px;
	color: $colorDarkL;
	font-style: normal;
	font-weight: 400;
	line-height: 35.2px;
	letter-spacing: 0.06em;
	margin: 0;
    padding: 0;
}

.subLogo {
	font-family: $mainFontSans;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.1em;
	padding: 0 0 0 4px;
	margin: 10px 0 0;
    color: $colorDark3XL;
}

nav {

	@media screen and (max-width: 768px) {
		nav {display: inline;}
	}

}

.menuBox {
	@media screen and (max-width: 768px) {background-color: $colorDark3XL;}
}

.checked {
	border-bottom: 3px solid $mainColor;
	color: $colorDark3XL;

	@media screen and (max-width: 768px) {
		border-bottom: none;
		color: $colorLightXL;
		font-weight: 600px;
	}
}

.menuItem {
	color: $colorDarkL;

	&:hover {color: $colorDark3XL;}

	@media screen and (max-width: 768px) {
		color: $colorDarkS;

		&:hover {
			background-color: $colorDarkXL;
			color: $colorLightS;
		}
	}

}

.menuBtn {

	span {
		@include burgerSpan;
		background-color: #000000;

		&::before {
			@include burgerSpan;
			background-color: #000000;
		}

		&::after {
			@include burgerSpan;
			background-color: #000000;
		}
	}
}

#menu__toggle {
	&:checked ~ .menuBtn > span::before {background: $mainColor;}
	&:checked ~ .menuBtn > span::after {background: $mainColor;}
}

.petsScreen {
    height: 1462px;

    h3 {
        @include title_h3;
        padding: 200px 295px 60px;
    }

	@media screen and (max-width: 1279px) and (min-width: 768px) {
		height: auto;

		h3 {
	        padding: 200px 0 30px;
	    }
	}

	@media screen and (max-width: 768px) {
		height: auto;

		h3 {
	        padding: 162px 0 42px;
			font-size: 25px;
	    }
	}
}

.petsSlider {
    justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0 45px;

	@media screen and (max-width: 1279px) and (min-width: 768px) {
		padding: 0 54px;
		justify-content: space-around;
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding: 0 0 12px;
	}
}

.petsCell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 30px;
	margin: 0 0 30px;

    img {
        margin: 0 auto;
        max-width: 270px;
        display: flex;
    }

    p {padding: 30px 0;}

	@media screen and (max-width: 1279px) and (min-width: 768px) {
		&:nth-child(3) {display: block;}
		&:nth-child(7) {display: none;}
		&:nth-child(8) {display: none;}
	}

	@media screen and (max-width: 768px) {
		&:nth-child(2) {display: block;}
		&:nth-child(3) {display: block;}
		&:nth-child(4) {display: none;}
		&:nth-child(5) {display: none;}
		&:nth-child(6) {display: none;}
		&:nth-child(7) {display: none;}
		&:nth-child(8) {display: none;}
	}

}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 341px;
	box-sizing: border-box;
	margin: 0 auto;

    h4 {
        color: $colorDark3XL;
        font-family: $mainFontSerif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
    }

    a {
        box-sizing: border-box;
        border: 2px solid $mainColor;
        border-radius: 50%;
        text-decoration: none;
        display: inline;
        width: 52px;
        height: 52px;
        padding: 12px 0;
        text-align: center;

        &:nth-child(1) {
            border-color: $colorDarkS;

            &:hover {
                background-color: transparent;
                border: 2px solid $colorDarkS;
				cursor: default;
            }
        }
        &:nth-child(2) {
            border-color: $colorDarkS;

            &:hover {
                background-color: transparent;
                border: 2px solid $colorDarkS;
				cursor: default;
            }
        }
        &:nth-child(3) {background-color: $mainColor}

        &:hover {
            background-color: $mainColorLight;
            border: 2px solid $mainColorLight;
            transition: 0.35s;
        }
    }

	@media screen and (max-width: 1279px) and (min-width: 768px) {
		padding: 40px 0 76px;
	}

	@media screen and (max-width: 768px) {
		padding: 0 0 40px;
		width: 300px;
	}
}

.unactive {color: $colorDarkS !important;}

footer {
    background: url("../../assets/images/footer-background.jpg"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    linear-gradient(0deg, #211F20, #211F20);
    height: 354px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        height: 639px;
        background-size: cover;
        align-items: center;
        flex-direction: column;

        img {
            padding: 0;
        }
    }

    @media screen and (max-width: 767px) {
        height: auto;
        background-size: cover;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
}

.conactsContainer {
    display: flex;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
}

.footerContacts {
    padding: 0 160px 59px 0;
    width: 300px;

    h3 {
        font-family: $mainFontSerif;
        color: $colorLightXL;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;

    }

    h4 {
        font-family: $mainFontSerif;
        color: $mainColor;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
    }

    div {
        display: flex;
        align-items: center;
        padding: 40px 0 0;

        img {
            padding: 0 20px 0 0;
        }
    }

    .sec {
        padding: 27px 0 0 !important;
    }

    a {
        text-decoration: none;
        color: $mainColor;

        &:hover {
            color: $mainColorLight;
            transition: 0.5s;
        }
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        padding: 30px 61px 0 0;
    }

    @media screen and (max-width: 767px) {
        padding: 30px 21px 40px;
        max-width: 270px;

        h3 {
            font-size: 25px;
        }
    }
}
