$mainFontSerif: Georgia, serif;
$mainFontSans: Arial, sans-serif;
$mainColor: #f1cdb3;
$mainColorLight: #fddcc4;
$colorLightS: #fafafa;
$colorLightL: #f6f6f6;
$colorLightXL: #ffffff;
$colorDarkS: #cdcdcd;
$colorDarkM: #b2b2b2;
$colorDarkL: #545454;
$colorDarkXL: #4c4c4c;
$colorDark2XL: #444444;
$colorDark3XL: #292929;

@mixin title_h3 {
    font-family: $mainFontSerif;
    color: $colorDarkL;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
}

@mixin burgerSpan {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $mainColor;
}

@mixin navLink {
    font-family: $mainFontSans;
    color: $colorDarkS;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

header {
    position: absolute;
    display: flex;
    padding: 60px 0 0 40px;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;

    h1 {
        color: $mainColor;
        font-family: $mainFontSerif;
        font-size: 32px;
        font-style: normal;
        font-weight: normal;
        line-height: 110%;
        letter-spacing: 0.06em;
        padding: 0 0 10px 0;
        min-width: 186px;
    }

    p {
        color: $colorLightXL;
        font-family: $mainFontSans;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        padding: 0 0 0 4px;
    }

    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        width: 443px;
    }

    a {
        @include navLink;

        &:hover {
            color: $colorLightS;
        }
    }

    li {
        @include navLink;

        cursor: default;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        padding: 30px 30px 0 30px;
    }
}

nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
    }

    @media screen and (max-width: 767px) {
        padding: 0 30px 0 0;
        display: inline;
    }
}

.menuBox {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 15em;
        margin: -600px 0 0 0;
        padding: 0.6em 0;
        text-align: center;
        background-color: $colorLightL;
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition-duration: 0.5s;
    }
}

.menuItem {
    display: flex;
    flex-direction: column;
    color: $colorDarkS;
    font-family: $mainFontSans;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;

    @media screen and (max-width: 768px) {
        display: block;
        padding: 12px 24px;
        color: $colorDark2XL;
        font-size: 18px;
        transition-duration: 0.5s;

        &:hover {
            background-color: $colorDarkM;
            color: $colorDark3XL;
        }
    }
}

#menu__toggle {
    opacity: 0;

    &:checked ~ .menuBtn > span {
        transform: rotate(45deg);
    }

    &:checked ~ .menuBtn > span::before {
        top: 0;
        transform: rotate(0);
        background: $colorDark3XL;
    }

    &:checked ~ .menuBtn > span::after {
        top: 0;
        transform: rotate(90deg);
        background: $colorDark3XL;
    }

    &:checked ~ .menuBox {
        visibility: visible;
        left: 0;
        margin: 0;
    }
}

.menuBtn {
    transition-duration: 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;

    span {
        @include burgerSpan;

        &::before {
            @include burgerSpan;
            content: "";
            top: -8px;
            transition-duration: 0.25s;
        }

        &::after {
            @include burgerSpan;
            content: "";
            top: 8px;
            transition-duration: 0.25s;
        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.checked {
    border-bottom: 3px solid $mainColor;
    color: $colorLightS;

    @media screen and (max-width: 768px) {
        border-bottom: none;
        color: $colorDark3XL;
        font-weight: 600px;
    }
}

.startScreen {
    display: flex;
    background: url("../../assets/images/start-screen-background.jpg"),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
    height: 908px;
    color: $colorLightXL;
    align-items: flex-end;
    padding: 0 40px;

    h2 {
        font-family: $mainFontSerif;
        font-size: 44px;
        font-weight: 400;
        font-style: normal;
        padding: 0 192px 0 0;
        margin: 0;
        line-height: 130%;
    }

    p {
        font-family: $mainFontSans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: $colorDarkS;
        padding: 42px 42px 57px 0;
        margin: 0;
    }

    a {
        background: $mainColor;
        font-family: $mainFontSerif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: $colorDark3XL;
        padding: 15px 45px;
        text-decoration: none;
        border-radius: 100px;
        letter-spacing: 0.06em;

        &:hover {
            background-color: $mainColorLight;
            transition: 0.35s;
        }
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        flex-direction: column;
        height: 1165px;
        background-size: cover;
        align-items: center;

        h2 {
            padding: 0;
        }

        p {
            padding: 42px 0 57px;
        }

        a {
            margin: 0 126px;
        }

        img {
            width: 569px;
            height: 593px;
            align-self: flex-end;
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        height: auto;

        h2 {
            padding: 60px 0 0;
            font-size: 25px;
            line-height: 32.5px;
        }

        img {
            width: 260px;
            height: 272px;
            align-self: center;
            padding: 120px 0 0;
        }

        p {
            padding: 42px 0 57px;
        }
    }
}

.startTextBlock {
    padding: 0 0 258px 0;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        padding: 150px 0 115px;
        box-sizing: border-box;
        max-width: 460px;
    }

    @media screen and (max-width: 767px) {
        padding: 150px 0 0px;
    }
}

.aboutScreen {
    display: flex;
    height: 588px;
    background: $colorLightXL;
    padding: 0 215px;

    img {
        padding: 80px 120px 100px 0;
    }

    h3 {
        @include title_h3;
        padding: 0 35px 0 0;
        text-align: left;
    }

    p {
        font-family: $mainFontSans;
        color: $colorDarkXL;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        padding: 25px 0 0;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        flex-direction: column-reverse;
        height: 1048px;
        padding: 0 25px;
        align-items: center;

        img {
            padding: 0 0 100px;
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        height: auto;
        padding: 0 25px;
        align-items: center;
        text-align: center;
        justify-content: flex-end;

        h3 {
            padding: 0;
            text-align: center;
            font-size: 25px;
        }

        img {
            padding: 42px 0;
        }

        p {
            text-align: justify;
        }
    }
}

.aboutTextBlock {
    padding: 94px 0 114px;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        width: 430px;
        padding: 80px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 42px 0 0;
    }
}

.petsScreen {
    height: 877px;
    background: $colorLightL;
    padding: 0 40px;
    text-align: center;

    h3 {
        @include title_h3;
        padding: 80px 400px 60px;

        @media screen and (max-width: 1279px) and (min-width: 768px) {
            padding: 80px 0 60px;
        }

        @media screen and (max-width: 767px) {
            padding: 42px 10px;
            font-size: 25px;
        }
    }

    @media screen and (max-width: 767px) {
        height: auto;
        padding: 0 30px 57px;
    }
}

.petsSlider {
    display: flex;
    padding: 0 0 75px 0;
    align-items: center;

    a {
        color: $colorDark3XL;
        box-sizing: border-box;
        border: 2px solid $mainColor;
        border-radius: 50%;
        text-decoration: none;
        padding: 15px 16px;

        &:hover {
            background-color: $mainColorLight;
            border: 2px solid $mainColorLight;
            transition: 0.35s;
        }
    }
}

.petsSliderInner {
    display: flex;
    justify-content: space-between;
    padding: 0 53px;
    width: 990px;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        justify-content: space-evenly;
        padding: 0 10px;
    }

    @media screen and (max-width: 767px) {
        justify-content: center;
        padding: 0 12px;
    }
}

.petsCell {
    box-sizing: border-box;
    background-color: $colorLightS;
    height: 435px;
    border-radius: 9px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        transition: 0.5s;
    }

    img {
        max-width: 270px;
    }

    p {
        font-family: $mainFontSerif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-align: center;
        color: $colorDarkL;
        padding: 27px 0 45px;
    }

    a {
        text-decoration: none;
        font-family: $mainFontSerif;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: $colorDark3XL;
        box-sizing: border-box;
        border-radius: 100px;
        margin: 0 37.5px;
        padding: 15px 45px;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        &:nth-child(3) {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(3) {
            display: none;
        }
    }
}

.getToKnow {
    box-sizing: border-box;
    background-color: $mainColor;
    border-radius: 100px;
    font-family: $mainFontSerif;
    color: $colorDarkXL;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-decoration: none;
    padding: 15px 45px;
    // margin: 0 469.2px;

    &:hover {
        background-color: $mainColorLight;
        transition: 0.35s;
    }
}

.helpScreen {
    height: 611px;
    background: $colorLightXL;
    padding: 0 40px;

    h3 {
        @include title_h3;
        padding: 80px 0 60px;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        height: auto;
    }

    @media screen and (max-width: 767px) {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;

        h3 {
            @include title_h3;
            padding: 42px 50px;
            font-size: 25px;
        }
    }
}

.helpIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &:nth-child(3) {
        padding: 0 171px;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 0 50px 58px;
    }

    h4 {
        font-family: $mainFontSerif;
        color: $colorDarkL;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 30px 0 0;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        a {
            padding: 0 30px 56px;
            width: 166px;
        }
    }

    @media screen and (max-width: 767px) {
        a {
            padding: 0 15px 30px;
            width: 130px;
        }

        h4 {
            font-size: 15px;
        }
    }
}

.donationScreen {
    display: flex;
    height: 464px;
    background: $colorLightL;
    padding: 0 183px 0 182px;

    img {
        padding: 92px 30px 111px 0;
    }

    h3 {
        @include title_h3;
        padding: 81px 60px 0 0;
        text-align: left;
    }

    h4 {
        font-family: $mainFontSerif;
        color: $colorDarkL;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        padding: 0 0 0 15px;
    }

    h5 {
        font-family: $mainFontSerif;
        color: $colorDarkL;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        padding: 20px 0;
    }

    P {
        font-family: $mainFontSans;
        color: $colorDarkM;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        height: 783px;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;

        p {
            max-width: 380px;
        }

        img {
            padding: 60px 0 100px;
        }
    }

    @media screen and (max-width: 767px) {
        height: auto;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        padding: 0;

        h3 {
            @include title_h3;
            padding: 42px 0 0;
        }

        P {
            padding: 20px 20px 0;
        }

        img {
            padding: 30px 42px;
            max-width: 260px;
            max-height: 135px;
        }

        h4 {
            font-size: 15px;
        }
    }
}

.cardNumber {
    background: $mainColor;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 15px;
    border-radius: 9px;
    margin: 0 30px 20px 0;

    a {
        text-decoration: none;
        color: $colorDarkL;

        &:hover {
            color: $colorDark2XL;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $mainColorLight;
        transition: 0.35s;
    }

    @media screen and (max-width: 767px) {
        justify-content: center;
        margin: 0 auto;
        max-width: 360px;
        padding: 15px 0 15px 15px;
    }
}

.card {
    padding: 0 !important;
}

footer {
    background: url("../../assets/images/footer-background.jpg"),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), linear-gradient(0deg, #211f20, #211f20);
    height: 354px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px;

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        height: 639px;
        background-size: cover;
        align-items: center;
        flex-direction: column;

        img {
            padding: 0;
        }
    }

    @media screen and (max-width: 767px) {
        height: auto;
        background-size: cover;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
}

.conactsContainer {
    display: flex;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
}

.footerContacts {
    padding: 0 160px 59px 0;
    width: 300px;

    h3 {
        font-family: $mainFontSerif;
        color: $colorLightXL;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    h4 {
        font-family: $mainFontSerif;
        color: $mainColor;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
    }

    div {
        display: flex;
        align-items: center;
        padding: 40px 0 0;

        img {
            padding: 0 20px 0 0;
        }
    }

    .sec {
        padding: 27px 0 0 !important;
    }

    a {
        text-decoration: none;
        color: $mainColor;

        &:hover {
            color: $mainColorLight;
            transition: 0.5s;
        }
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        padding: 30px 61px 0 0;
    }

    @media screen and (max-width: 767px) {
        padding: 30px 21px 40px;
        max-width: 270px;

        h3 {
            font-size: 25px;
        }
    }
}
